@charset "utf-8";

/* reset */
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}


/* common */
body {font-family: 'NotoSansKR', sans-serif; font-size: 14px; color: #000000; background: #eeeeee;}

#wrapper {min-width: 320px; max-width: 770px; margin: 0 auto; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.8); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}


/* main */
